// ccp-spa-page.scss, OPAC SPA Project, Jake Deery on behalf of City College Plymouth, 2021

//
//
// page area
#-ccp-page-region {
	margin: 0;
	padding: 0;
	box-shadow: none
}

.-ccp-container {
	margin: 0 auto;
	width: 100%;
	max-width: 1440px;
			
	.-ccp-inner-lg {
		padding: 5rem 1rem
	}
			
	.-ccp-inner-md {
		padding: 3rem 1rem
	}
			
	.-ccp-inner-sm {
		padding: 1rem 1rem
	}
}

.-ccp-transparent-section {
	background-color: transparent;

	.-ccp-light {
		p, span, div, pre, code, strong, em, li {
			color: $ccpBlack
		}
			
		a {
			color: $ccpBlack;

			&:visited {
				color: $ccpBlack
			}

			&:hover, &:focus,
			&:active, &.active {
				color: lighten($msCharcoal, 33%)
			}
		}
			
		h1, h2, h3,
		h4, h5, h6,
		.h1, .h2, .h3,
		.h4, .h5, .h6 {
			color: $ccpBlack
		}
	}

	.-ccp-dark {
		p, span, div, pre, code, strong, em, li {
			color: $ccpWhite
		}
			
		a {
			color: $ccpWhite;

			&:visited {
				color: $ccpWhite
			}

			&:hover, &:focus,
			&:active, &.active {
				color: darken($ccpWhite, 33%)
			}
		}

		h1, h2, h3,
		h4, h5, h6,
		.h1, .h2, .h3,
		.h4, .h5, .h6 {
			color: $ccpWhite
		}
	}
}

.-ccp-white-section {
	background-color: $white;

	p, span, div, pre, code, strong, em, li {
		color: $ccpBlack
	}
		
	a {
		color: $ccpBlack;

		&:visited {
			color: $ccpBlack
		}

		&:hover, &:focus,
		&:active, &.active {
			color: darken($msCharcoal, 33%)
		}
	}
		
	h1, h2, h3,
	h4, h5, h6,
	.h1, .h2, .h3,
	.h4, .h5, .h6 {
		color: $ccpBlack
	}
}

.-ccp-black-section {
	background-color: $ccpBlack;
	
	p, span, div, pre, code, strong, em, li {
		color: $ccpWhite
	}
		
	a {
		color: $ccpWhite;

		&:visited {
			color: $ccpWhite
		}

		&:hover, &:focus,
		&:active, &.active {
			color: darken($ccpWhite, 33%)
		}
	}
		
	h1, h2, h3,
	h4, h5, h6,
	.h1, .h2, .h3,
	.h4, .h5, .h6 {
		color: $ccpWhite
	}
}

.-ccp-cloudy-section {
	background-color: $ccpWhite;

	p, span, div, pre, code, strong, em, li {
		color: $ccpBlack
	}
		
	a {
		color: $ccpBlack;

		&:visited {
			color: $ccpBlack
		}

		&:hover, &:focus,
		&:active, &.active {
			color: darken($msCharcoal, 33%)
		}
	}
		
	h1, h2, h3,
	h4, h5, h6,
	.h1, .h2, .h3,
	.h4, .h5, .h6 {
		color: $ccpBlack
	}
}

.-ccp-charcoal-section {
	background-color: $msCharcoal;

	p, span, div, pre, code, strong, em, li {
		color: $ccpWhite
	}
	
	a {
		color: $ccpWhite;

		&:visited {
			color: $ccpWhite
		}

		&:hover, &:focus,
		&:active, &.active {
			color: darken($ccpWhite, 33%)
		}
	}
	
	h1, h2, h3,
	h4, h5, h6,
	.h1, .h2, .h3,
	.h4, .h5, .h6 {
		color: $ccpWhite
	}
}

.-ccp-danger-section {
	background-color: $msRed;

	p, span, div, pre, code, strong, em, li {
		color: $ccpWhite
	}
		
	a {
		color: $ccpWhite;

		&:visited {
			color: $ccpWhite
		}

		&:hover, &:focus,
		&:active, &.active {
			color: darken($ccpWhite, 33%)
		}
	}
		
	h1, h2, h3,
	h4, h5, h6,
	.h1, .h2, .h3,
	.h4, .h5, .h6 {
		color: $ccpWhite
	}
}

.-ccp-alert-section {
	background-color: $msGold;

	p, span, div, pre, code, strong, em, li {
		color: $ccpBlack
	}
		
	a {
		color: $ccpBlack;

		&:visited {
			color: $ccpBlack
		}

		&:hover, &:focus,
		&:active, &.active {
			color: darken($msCharcoal, 33%)
		}
	}
		
	h1, h2, h3,
	h4, h5, h6,
	.h1, .h2, .h3,
	.h4, .h5, .h6 {
		color: $ccpBlack
	}
}

.-ccp-hue1-section {
	background-color: $ccpHue1;

	p, span, div, pre, code, strong, em, li {
		color: $ccpText1
	}
		
	a {
		color: $ccpText1;

		&:visited {
			color: $ccpText1
		}

		&:hover, &:focus,
		&:active, &.active {
			color: darken($ccpText1, 33%)
		}
	}
		
	h1, h2, h3,
	h4, h5, h6,
	.h1, .h2, .h3,
	.h4, .h5, .h6 {
		color: $ccpText1
	}
}

.-ccp-hue2-section {
	background-color: $ccpHue2;

	p, span, div, pre, code, strong, em, li {
		color: $ccpText2
	}
	
	a {
		color: $ccpText2;

		&:visited {
			color: $ccpText2
		}

		&:hover, &:focus,
		&:active, &.active {
			color: darken($ccpText2, 33%)
		}
	}
	
	h1, h2, h3,
	h4, h5, h6,
	.h1, .h2, .h3,
	.h4, .h5, .h6 {
		color: $ccpText2
	}
}

.-ccp-hue3-section {
	background-color: $ccpHue3;

	p, span, div, pre, code, strong, em, li {
		color: $ccpText3
	}
	
	a {
		color: $ccpText3;

		&:visited {
			color: $ccpText3
		}

		&:hover, &:focus,
		&:active, &.active {
			color: darken($ccpText3, 33%)
		}
	}
	
	h1, h2, h3,
	h4, h5, h6,
	.h1, .h2, .h3,
	.h4, .h5, .h6 {
		color: $ccpText3
	}
}

//
// grids
.-ccp-grid-container {
	display: flex;
	align-items: stretch;
	flex-flow: row wrap;
	height: 100%;

	.-ccp-grid-25 {
		width: 100%;
		border-radius: .66rem;
		margin: 1rem 0;
		padding: 0
	}

	.-ccp-grid-33 {
		width: 100%;
		border-radius: .66rem;
		margin: 1rem 0;
		padding: 0
	}

	.-ccp-grid-50 {
		width: 100%;
		border-radius: .66rem;
		margin: 1rem 0;
		padding: 0
	}

	.-ccp-grid-inner-sm {
		margin: 1rem
	}

	.-ccp-grid-inner-md {
		margin: 1.75rem
	}

	.-ccp-grid-inner-lg {
		margin: 3rem
	}

	@media(min-width: $breakpoint-pc) {
		.-ccp-grid-25 {
			margin: 0;
			width: 25%
		}

		.-ccp-grid-33 {
			margin: 0;
			width: 33.3%
		}

		.-ccp-grid-50 {
			margin: 0;
			width: 50%
		}
	}
}

//
// offset grids
@media(min-width: $breakpoint-pc) {
	.-ccp-offset-grid {
		padding-bottom: 3rem;

		.-ccp-offset-grid-top {
			margin-top: -3rem;
	    margin-bottom: 3rem
		}

		.-ccp-offset-grid-right {
			margin-right: 1.5rem;
			margin-left: -1.5rem
		}

		.-ccp-offset-grid-bottom {
			margin-top: 3rem;
			margin-bottom: -3rem
		}

		.-ccp-offset-grid-left {
			margin-right: -1.5rem;
			margin-left: 1.5rem
		}
	}
}

//
// cards
.-ccp-card-link { // this has to come before card rules
	text-decoration: none!important
}

.-ccp-card-white,
.-ccp-card-cloudy,
.-ccp-card-black,
.-ccp-card-charcoal,
.-ccp-card-hue1,
.-ccp-card-hue2,
.-ccp-card-hue3 {
	position: relative;
	min-height: 100%;
	margin: .5rem;
	border-radius: .33rem;
	cursor: pointer
}

.-ccp-card-white::after,
.-ccp-card-cloudy::after,
.-ccp-card-black::after,
.-ccp-card-charcoal::after,
.-ccp-card-hue1::after,
.-ccp-card-hue2::after,
.-ccp-card-hue3::after {
	content: "Go \00bb";
	font-weight: bold;
	position: absolute;
	bottom: .5rem;
	right: .5rem
}

.-ccp-card-white {
	background-color: $white;

	&:hover, &:focus,
	&:active, &.active {
		background-color: $ccpWhite
	}

	p, span, div, pre, code, strong, em, li {
		color: $ccpBlack
	}
		
	a, .ccp-card-link {
		color: $ccpBlack;

		&:hover, &:focus,
		&:active, &.active {
			color: $msBlue
		}
	}
		
	h1, h2, h3,
	h4, h5, h6,
	.h1, .h2, .h3,
	.h4, .h5, .h6 {
		color: $ccpBlack
	}

	&::after {
		color: $ccpBlack
	}
}

.-ccp-card-cloudy {
	background-color: $ccpWhite;

	&:hover, &:focus,
	&:active, &.active {
		background-color: $ccpWhite
	}

	p, span, div, pre, code, strong, em, li {
		color: $ccpBlack
	}
		
	a, .ccp-card-link {
		color: $ccpBlack;

		&:hover, &:focus,
		&:active, &.active {
			color: $msBlue
		}
	}
		
	h1, h2, h3,
	h4, h5, h6,
	.h1, .h2, .h3,
	.h4, .h5, .h6 {
		color: $ccpBlack
	}

	&::after {
		color: $ccpBlack
	}
}

.-ccp-card-black {
	background-color: $ccpBlack;

	&:hover, &:focus,
	&:active, &.active {
		background-color: $msCharcoal
	}

	p, span, div, pre, code, strong, em, li {
		color: $ccpWhite
	}
		
	a, .ccp-card-link {
		color: $ccpWhite;

		&:hover, &:focus,
		&:active, &.active {
			color: $ccpWhite
		}
	}
		
	h1, h2, h3,
	h4, h5, h6,
	.h1, .h2, .h3,
	.h4, .h5, .h6 {
		color: $ccpWhite
	}

	&::after {
		color: $ccpWhite
	}
}

.-ccp-card-charcoal {
	background-color: $msCharcoal;

	&:hover, &:focus,
	&:active, &.active {
		background-color: $ccpBlack
	}

	p, span, div, pre, code, strong, em, li {
		color: $ccpWhite
	}
		
	a, .ccp-card-link {
		color: $ccpWhite;

		&:hover, &:focus,
		&:active, &.active {
			color: $ccpWhite
		}
	}
		
	h1, h2, h3,
	h4, h5, h6,
	.h1, .h2, .h3,
	.h4, .h5, .h6 {
		color: $ccpWhite
	}

	&::after {
		color: $ccpWhite
	}
}

.-ccp-card-hue1 {
	background-color: $ccpHue1;

	&:hover, &:focus,
	&:active, &.active {
		background-color: darken($ccpHue1, 33%)
	}

	p, span, div, pre, code, strong, em, li {
		color: $ccpText1
	}
		
	a, .ccp-card-link {
		color: $ccpText1;

		&:hover, &:focus,
		&:active, &.active {
			color: $ccpWhite
		}
	}

	h1, h2, h3,
	h4, h5, h6,
	.h1, .h2, .h3,
	.h4, .h5, .h6 {
		color: $ccpText1
	}

	&::after {
		color: $ccpText1
	}
}

.-ccp-card-hue2 {
	background-color: $ccpHue2;

	&:hover, &:focus,
	&:active, &.active {
		background-color: lighten($ccpHue2, 33%)
	}

	p, span, div, pre, code, strong, em, li {
		color: $ccpText2
	}
		
	a, .ccp-card-link {
		color: $ccpText2;

		&:hover, &:focus,
		&:active, &.active {
			color: $msCharcoal
		}
	}

	h1, h2, h3,
	h4, h5, h6,
	.h1, .h2, .h3,
	.h4, .h5, .h6 {
		color: $ccpText2
	}

	&::after {
		color: $ccpText2
	}
}

.-ccp-card-hue3 {
	background-color: $ccpHue3;

	&:hover, &:focus,
	&:active, &.active {
		background-color: lighten($ccpHue3, 33%)
	}

	p, span, div, pre, code, strong, em, li {
		color: $ccpText3
	}
		
	a, .ccp-card-link {
		color: $ccpText3;

		&:hover, &:focus,
		&:active, &.active {
			color: $msCharcoal
		}
	}

	h1, h2, h3,
	h4, h5, h6,
	.h1, .h2, .h3,
	.h4, .h5, .h6 {
		color: $ccpText3
	}

	&::after {
		color: $ccpText3
	}
}

.-ccp-card-white:hover .-ccp-card-header,
.-ccp-card-white:focus .-ccp-card-header,
.-ccp-card-cloudy:hover .-ccp-card-header,
.-ccp-card-cloudy:focus .-ccp-card-header,
.-ccp-card-black:hover .-ccp-card-header,
.-ccp-card-black:focus .-ccp-card-header,
.-ccp-card-charcoal:hover .-ccp-card-header,
.-ccp-card-charcoal:focus .-ccp-card-header,
.-ccp-card-hue1:hover .-ccp-card-header,
.-ccp-card-hue1:focus .-ccp-card-header,
.-ccp-card-hue2:hover .-ccp-card-header,
.-ccp-card-hue2:focus .-ccp-card-header,
.-ccp-card-hue3:hover .-ccp-card-header,
.-ccp-card-hue3:focus .-ccp-card-header {
	text-decoration: none
}

.-ccp-card-inner {
	position: relative;
	padding: .5rem 1rem
}

.-ccp-card-header {
	font-size: 1.25rem;
	text-decoration: underline
}

//
// searchform
.-ccp-searchform-container {
	position: relative;
	margin: 0 auto;
	width: 100%
}

.-ccp-searchform-inner {
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	justify-items: stretch;
	align-items: stretch;

	.-ccp-searchform-input {
		width: 70%;
		max-height: 84px;
		margin: 0;
		margin-right: 1rem;
		padding: 1.5rem 2rem
	}
	
	.-ccp-searchform-submit {
		margin-bottom: 0;
		width: 30%
	}
}

//
// multi-link lists
.-ccp-multilink-list {
	li {
		padding: 1rem 0 1rem 0
	}
}