// custom-page.scss, OPACUserCSS, Jake Deery on behalf of City College Plymouth, 2021

//
//
// main block

//
// main area
.main {
	margin: 0;
	padding: 1rem;
	background-color: $white
}

//
// breadcrumbs
.breadcrumb {
	margin: .5rem 0 .9375rem;
	background-color: $ccpWhite;
	border: 1px solid transparent;
	border-radius: .33rem
}

.breadcrumb > li {
	text-shadow: none
}

//
// ui tabs
.ui-tabs .ui-tabs-nav li {
	background: $ccpWhite;
	border-color: darken($ccpWhite, 33%);
	border-radius: .33rem .33rem 0 0;

	&.ui-tabs-active {
		border-color: darken($ccpWhite, 33%);
		border-radius: .33rem .33rem 0 0
	}
}

.ui-tabs .ui-tabs-panel {
	border-color: darken($ccpWhite, 33%);
	border-radius: .33rem
}

.ui-widget-content, .ui-tabs .ui-tabs-nav li.ui-tabs-active {
	a {
		color: $ccpBlack
	}
}

.ui-widget-content, .ui-tabs .ui-state-default {
	a, a:link,
	a:visited {
		color: $msBlue
	}
}

//
// tables
.table {
	overflow: hidden;
	border-radius: .33rem
}

th, td {
	background-color: $ccpWhite
}

.table-bordered {
	border: 1px solid darken($ccpWhite, 33%);
	border-left: none
}

.table-bordered th, .table-bordered td {
	border-left: 1px solid darken($ccpWhite, 33%)
}

.table th, .table td {
	border-top: 1px solid darken($ccpWhite, 33%)
}

.table .sorting {
	background: url('/opac-tmpl/bootstrap/images/ascdesc.gif') no-repeat scroll 100% 75% $ccpWhite
}

.table .sorting_asc {
	background: url('/opac-tmpl/bootstrap/images/asc.gif') no-repeat scroll 100% 80% $ccpWhite
}

.table .sorting_desc {
	background: url('/opac-tmpl/bootstrap/images/desc.gif') no-repeat scroll 100% 80% $ccpWhite
}

.table .nosort, .table .nosort.sorting,
.table .nosort.sorting_asc, .table .nosort.sorting_desc {
	background-color: $ccpWhite
}

.table-striped tbody > tr:nth-child(2n+1) > td,
.table-striped tbody > tr:nth-child(2n+1) > th {
	background-color: $ccpWhite
}

.table-striped tbody > tr:nth-child(2n+1) > td,
.table-striped tbody > tr:nth-child(2n+1) > th {
	background-color: darken($ccpWhite, 5%)
}

//
// items tables
#items, #items td,
#items th {
	font-size: 1rem
}

//
// menus
.menu-collapse {
	border-right: 1px solid darken($ccpWhite, 33%)
}

#menu li a {
	background-color: $ccpWhite;
	border-radius: .33rem 0 0 .33rem;
	border: 1px solid darken($ccpWhite, 33%);
	border-right: 1px solid transparent;

	&:hover, &:focus,
	&:active, &.active {
		background-color: $msBlue;
		color: $ccpWhite
	}
}

#menu li.active a {
	&:hover, &:focus,
	&:active, &.active {
		background-color: $msBlue;
		color: $ccpWhite
	}
}

//
// recolour things
legend, .legend {
	color: $ccpBlack;
	border-bottom: none
}

legend::after, .legend::after {
	content: "";
	display: block;
	max-width: 33%;
	border-bottom: .25rem solid darken($ccpWhite, 33%);
	border-radius: .33rem
}

.results_summary {
	color: $ccpBlack
}

caption, h5 {
	color: $ccpBlack
}
