// custom-header.scss, OPACUserCSS, Jake Deery on behalf of City College Plymouth, 2021

//
//
// header

//
// search box
#opac-main-search {
	margin: 0;
	padding: 0;

	.-ccp-container {
		max-width: none;

		.-ccp-inner-lg {
			padding: .5rem 1rem
		}
	}
}

#moresearches {
	display: none
}

//
// dropdown items
.dropdown-item {
	&:hover, &:focus {
		background-color: darken($ccpWhite, 33%)
	}
}
