// custom-header.scss, OPACUserCSS, Jake Deery on behalf of City College Plymouth, 2021

//
//
// header

//
// title header
#opacheader {
	background: linear-gradient(rgba(0,0,0,.33),rgba(0,0,0,.33)),  url('//res.cloudinary.com/cityplymjdeery/image/upload/v1626118634/bitmaps/styling/ccp-lib-bg_efmiuu.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom; 
	background-size: cover;
	
	p {
		color: $ccpWhite
	}
	
	a {
		color: $ccpWhite;
		text-decoration: none;
		
		&:visited {
			color: $ccpWhite
		}
		
		&:hover, &:focus,
		&:active, &.active {
			color: $ccpWhite;
			text-decoration: underline
		}
	}

	h1, h2, h3,
	.h1, .h2, .h3 {
		font-size: 2.1875rem;
		font-weight: 500;
		line-height: 1.2;
		margin: 0 1rem;
		padding: 1rem 0;
		color: $ccpWhite
	}
}

//
// search box
#opac-main-search {
	margin: 0;
	padding: 1rem;
	background-color: $ccpHue1;

	label {
		color: $ccpText1
	}
}

#moresearches {
	margin: 0 1rem;
	padding: 1rem;
	background-color: $ccpWhite;
	color: $msCharcoal;
	
	li:last-child {
		&::after {
			content: none
		}
	}

	li {
		&::before {
			content: none
		}

		&::after {
			content: ' | '
		}
	}
}

#opac-main #opac-main-search, #opac-main #moresearches,
#advsearch #opac-main-search, #advsearch #moresearches {
	display: none
}

//
// dropdown items
.dropdown-item {
	&:hover, &:focus {
		background-color: darken($ccpWhite, 33%)
	}
}