// custom-header.scss, OPACUserCSS, Jake Deery on behalf of City College Plymouth, 2021

//
//
// header

//
// title header
#opacheader {
	background: linear-gradient(rgba(0,0,0,.33),rgba(0,0,0,.33)),  url('//ccp.vo.llownd.net/library/opac/bitmaps/static/ccp-lib-bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom; 
	background-size: cover;
	
	p {
		color: $ccpWhite
	}
	
	a {
		color: $ccpWhite;
		text-decoration: none;
		
		&:visited {
			color: $ccpWhite
		}
		
		&:hover, &:focus,
		&:active, &.active {
			color: $ccpWhite;
			text-decoration: underline
		}
	}

	h1, h2, h3,
	.h1, .h2, .h3 {
		font-size: 2.1875rem;
		font-weight: 500;
		line-height: 1.2;
		margin: 0 1rem;
		padding: 1rem 0;
		color: $ccpWhite
	}
}

//
// search box
#opac-main-search {
	margin: 0;
	padding: 0;

	label {
		color: $ccpWhite
	}
}

#opac-main #opac-main-search,
#advsearch #opac-main-search {
	display: none
}

.mastheadsearch {
	margin: 0;
	padding: 1rem;
	box-shadow: 0 .25rem .25rem 0 rgba(0, 0, 0, .33);
	background-color: $ccpHue1
}

#moresearches {
	margin: 0;
	padding: 1rem;
	background-color: $ccpWhite;
	color: $msCharcoal
}

#moresearches li:last-child {
	&::after {
		content: none
	}
}

#moresearches li {
	&::before {
		content: none
	}

	&::after {
		content: " | "
	}
}

//
// dropdown items
.dropdown-item {
	&:hover, &:focus {
		background-color: darken($ccpWhite, 33%)
	}
}