// custom-nav.scss, OPACUserCSS, Jake Deery on behalf of City College Plymouth, 2021

//
//
// navbar

//
// logo
#logo {
	display: none;
	background: transparent url('//www.dropbox.com/s/qxg9gmbi0i4nb8p/koha-white-logo.png?raw=1') no-repeat left center;

	&:hover, &:focus {
		background: transparent url('//www.dropbox.com/s/vxqzd6pheukto4m/koha-cloudy-logo.png?raw=1') no-repeat left center
	}

	a {
		&:hover, &:focus,
		&:active, &.active {
			background-color: transparent
		}
	}

	@media(min-width: $breakpoint-pc) {
		display: initial;
	}
}

img[src="/opac-tmpl/bootstrap/images/koha-green-logo.png?raw=1"] {
	display: none
}

//
// navbar
.navbar-expand {
	background-color: $msBlack;
	padding: .5rem 1rem;
	border: none
}

#cart-list-nav, #members {
	li {
		a {
			color: lighten($msBlack, 85%);
			text-decoration: none;
			text-shadow: none;

			i.fa {
				color: lighten($msBlack, 85%)
			}

			&:hover, &:focus,
			&:active, &.active {
				background-color: $ccpHue1;
				color: $ccpText1;

				i.fa {
					color: $ccpText1
				}
			}
		}

		a.dropdown-item {
			background-color: $msWhite;
			color: $msBlack;

			&:hover, &:focus,
			&:active, &.active {
				background-color: $ccpHue2;
				color: $msBlack
			}
		}

		&::before {
			content: none
		}
	}

	.divider-vertical, .clearsh {
		display: none
	}
}

#user-menu {
	display: block;
	padding: .5rem
}

#loggedinuser-menu {
	p {
		a.login-link {
			color: $msBlack;

			&:hover, &:focus,
			&:active, &.active {
				color: $msWhite
			}
		}
	}

	a#logout.logout {
		color: $msRed;

		&:hover, &:focus,
		&:active, &.active {
			color: darken($msRed, 15%)
		}
	}
}

.dropdown-menu {
	background-color: $msWhite;
	color: $msBlack
}

.navbar .nav > li {
	&::before {
		content: none
	}
}

//
//
// mobile overrides
@media only screen and (max-width:1100px) {
	.hmplabel, .hlplabel, .fbklabel,
	.scnlabel,.collabel, .lrslabel,
	.ssklabel, .bkblabel {
		display: none
	}
}

@media (max-width:767px) {
	#opac-main .maincontent {
		width: 74.46808510638297%
	}
}
