// custom-opac.scss, OPACUserCSS, Jake Deery on behalf of City College Plymouth, 2021

//
//
// opac overrides
#opac-main .maincontent {
	max-width: 100%;
	flex: 0 0 100%
}

#login,
#user_summary {
	display: none
}

.search_history {
	display: none
}

//
//
// main page
.OpacNavRight_en_header {
	display: none
}

//
//
// account page
.selections-toolbar.toolbar {
	background: transparent
}

//
//
// adv search
#advsearch_limits label, #subtypes label,
.hint {
	color: $ccpBlack
}

//
//
// search results
#numresults, #selections {
	color: $ccpBlack
}

.shelves {
	ul {
		padding-left: 0
	}
}

.shelves, .tags {
	li {
		&::before {
			content: none
		}
	}
}

.pagination ul > li {
	&::before {
		content: none
	}
}

//
// search facets
#facetcontainer {
	overflow: hidden;
	border: 1px solid darken($ccpWhite, 33%);
	border-right-color: transparent;
	border-radius: .33rem
}

#menu, #search-facets {
	margin: 0;
	border: none
}

#menu h2, #search-facets h2 {
	margin: 0;

	a {
		background-color: $ccpWhite;
		color: $ccpBlack;
		text-decoration: none;
		border-bottom: 1px solid darken($ccpWhite, 33%);
		border-right: 1px solid darken($ccpWhite, 33%)
	}
}

//
// bookbag form
#bookbag_form {
	border-bottom: 1px solid darken($ccpWhite, 33%)
}

//
// floating toolbar
#floating {
	overflow: hidden;
	border: 1px solid darken($ccpWhite, 33%);
	border-radius: .33rem
}

#toolbar.toolbar,
#toolbar.toolbar.clearfix {
	background: $ccpWhite;
	border: 1px solid transparent;
	border-bottom: 1px solid darken($ccpWhite, 33%)
}

#selections-toolbar,
.selections-toolbar {
	background: $ccpWhite;
	border: 1px solid transparent
}

// underlined links
#CheckAll, #CheckNone,
.CheckAll, .CheckNone,
#menu a, #search-facets a {
	text-decoration: underline;

	&:hover, &:focus,
	&:active, &.active {
		text-decoration: none
	}
}

//
// results text of importance
.results_summary.availability,
.results_summary.online_resources {
	font-weight: bold;

	.label {
		font-weight: bold
	}

	a {
		font-weight: bold
	}
}

//
// suggestions box
.suggestion {
	background-color: $ccpWhite;
	color: $ccpBlack;
	border: 1px solid transparent;
	border-radius: .33rem
}

//
//
// details page
.no-image {
	display: none
}

#action, .actions,
.toolbar, .view{
	color: $ccpBlack;

	i.fa {
		color: $ccpBlack
	}

	a {
		color: $msRed;

		i.fa {
			color: $msRed
		}

		&:hover, &:focus {
			color: darken($msRed, 33%);
			
			i.fa {
			color: darken($msRed, 33%)
			}
		}
	}
}

#action {
	background-color: $ccpWhite;
	border-color: transparent;
	border-radius: .33rem;

	li {
		&::before {
			content: none
		}
	}
}

.nav_pages, .pagination_list {
	li {
		&::before {
			content: none
		}
	}
}

//
// holds
.hold-options {
	li {
		&::before {
			content: none
		}
	}
}

//
// views
#views {
	border-bottom: 1px solid darken($ccpWhite, 33%)
}

.view {
	color: $ccpBlack;

	border-top: 1px solid darken($ccpWhite, 33%);
	border-right: 1px solid darken($ccpWhite, 33%);
	border-bottom: none;
	border-left: 1px solid darken($ccpWhite, 33%);
	border-radius: .33rem .33rem 0 0
}

.current-view {
	background-color: $ccpWhite
}

//
// socials
#social_networks {
	a {
		border-radius: .33rem;

		&:hover, &:focus,
		&:active, &.active {
			border-color: darken($ccpWhite, 33%)
		}
	}
}

//
// view tabs
a#Normalview, a#MARCview,
a#ISBDview {
	text-decoration: underline!important;

	&:hover, &:focus,
	&:active, &.active {
		text-decoration: none!important;
	}
}

//
//
// course search
.dataTables_filter input,
.dataTables_filter label {
	font-size: 1rem
}

//
//
// results menu
.pg_menu li {
	&::before {
		content: none
	}
}

//
// sco
.nav-tabs > li {
	&::before {
		content: none
	}
}
