// custom-nav.scss, OPACUserCSS, Jake Deery on behalf of City College Plymouth, 2021

//
//
// navbar

//
// logo
#logo {
	display: none;
	background: transparent url('/cgi-bin/koha/catalogue/image.pl?imagenumber=327') no-repeat left center;

	&:hover, &:focus {
		background: transparent url('/cgi-bin/koha/catalogue/image.pl?imagenumber=328') no-repeat left center
	}

	@media(min-width: $breakpoint-pc) {
		display: initial;
	}
}

img[src="/opac-tmpl/bootstrap/images/koha-green-logo.png"] {
	display: none
}

//
// navbar
.navbar-inverse .navbar-inner {
	background-color: $ccpBlack;
	padding: .5rem 1rem;
	border: none
}

.navbar-inverse .nav {
	li {
		a {
			color: lighten($ccpBlack, 85%);
			text-shadow: none;

			i.fa {
				color: lighten($ccpBlack, 85%)
			}

			&:hover, &:focus,
			&:active, &.active {
				color: lighten($ccpBlack, 55%);

				i.fa {
					color: lighten($ccpBlack, 55%)
				}
			}
		}
	}

	// dropdown carets
	li.dropdown > .dropdown-toggle b.caret {
		border-top-color: lighten($ccpBlack, 85%);
		border-bottom-color: lighten($ccpBlack, 85%)
	}

	li.dropdown.open > .dropdown-toggle b.caret,
	li.dropdown > a:hover b.caret,
	li.dropdown > a:focus b.caret,
	li.dropdown > a:active b.caret {
		border-top-color: lighten($ccpBlack, 55%);
		border-bottom-color: lighten($ccpBlack, 55%)
	}

	li.dropdown.open > .dropdown-toggle .caret {
		&:hover, &:focus,
		&:active &.active {
			border-top-color: lighten($ccpBlack, 55%);
			border-bottom-color: lighten($ccpBlack, 55%)
		}
	}

	// open dropdowns
	li.dropdown.open > .dropdown-toggle {
		&:hover, &:focus,
		&:active &.active {
			color: lighten($ccpBlack, 55%)
		}
	}
}

// members account & logout
.navbar-inverse .navbar-inner #members ul.dropdown-menu a {
	color: $msBlue;
	
	&:hover, &:focus {
		color: darken($msBlue, 33%);
		text-decoration: none
	}
}

.navbar-inverse .navbar-inner #members ul.dropdown-menu a.logout {
	color: $msRed
}

.navbar-inverse .navbar-inner #members ul.dropdown-menu a:hover.logout:hover,
.navbar-inverse .navbar-inner #members ul.dropdown-menu a:focus.logout:focus {
	color: darken($msRed, 33%);
	text-decoration: none
}

.navbar .nav > li {
	&::before {
		content: none
	}
}

//
//
// mobile overrides
@media only screen and (max-width:1100px) {
	.sslabel, .helplabel,
	.feedbacklabel, .listslabel2 {
		display: none
	}
}

@media (max-width:767px) {
	#opac-main .maincontent {
		width: 74.46808510638297%
	}
}
