// variables.scss, OPACUserCSS, Jake Deery on behalf of City College Plymouth, 2021

//
//
// vars
$black: rgba(0,0,0,1);
$white: rgba(255,255,255,1);


$msBlack: rgba(35,31,32,1);
$msWhite: rgba(243,242,241,1);

$msCharcoal: rgba(59,58,57,1);
$msCloudy: rgba(243,242,241,1);

$msRed: rgba(177,55,25,1);
$msGold: rgba(242,200,17,1);
$msGreen: rgba(15,112,59,1);
$msBlue: rgba(43,87,154,1);
$msLagoon: rgba(3,120,124,1);
$msPurple: rgba(101,102,163,1);
$msMagenta: rgba(135,68,125,1);


$ccpBlack: rgba(35,31,32,1); // black
$ccpWhite: rgba(242,242,242,1); // white

$ccpHue1: rgba(34,87,122,1); // hue1
$ccpHue2: rgba(56,163,165,1); // hue2
$ccpHue3: rgba(87,204,153,1); // hue3

$ccpText1: lighten($ccpHue1, 65%); // text for hue1
$ccpText2: darken($ccpHue2, 45%); // text for hue2
$ccpText3: darken($ccpHue3, 45%); // text for hue3


$breakpoint-pc: 992px;
